#splan_pdstatus .st0,
#splan_pdstatus .st1,
#splan_pdstatus .st2,
#splan_pdstatus .st3,
#splan_pdstatus .st4,
#splan_pdstatus .st5,
#splan_pdstatus .st6,
#splan_pdstatus .st7,
#splan_pdstatus .st8 {
  stroke-miterlimit: 10;
}

#splan_pdstatus .st0,
#splan_pdstatus .st1,
#splan_pdstatus .st2,
#splan_pdstatus .st3,
#splan_pdstatus .st4,
#splan_pdstatus .st6,
#splan_pdstatus .st8 {
  stroke: #9b806f;
}

#splan_pdstatus .st0,
#splan_pdstatus .st1,
#splan_pdstatus .st5,
#splan_pdstatus .st6,
#splan_pdstatus .st7 {
  fill: none;
}

#splan_pdstatus .st9,
#splan_pdstatus .st10 {
  fill: #9b806f;
  font-size: 12px;
}

#splan_pdstatus .st9,
#splan_pdstatus .st11 {
  font-family: ArialMT, Arial;
}

#splan_pdstatus .st1 {
  stroke-dasharray: 1.98 4.96;
}

#splan_pdstatus .st1,
#splan_pdstatus .st2,
#splan_pdstatus .st4,
#splan_pdstatus .st5,
#splan_pdstatus .st6,
#splan_pdstatus .st7 {
  stroke-linecap: round;
}

#splan_pdstatus .st1,
#splan_pdstatus .st2,
#splan_pdstatus .st4,
#splan_pdstatus .st6 {
  stroke-width: 2px;
}

#splan_pdstatus .st12,
#splan_pdstatus .st3,
#splan_pdstatus .st4,
#splan_pdstatus .st8 {
  fill: #f3eae3;
}

#splan_pdstatus .active .st12,
#splan_pdstatus .st3.active ,
#splan_pdstatus .st4.active ,
#splan_pdstatus .active .st4,
#splan_pdstatus .st5.active ,
#splan_pdstatus .st8.active {
  fill: #ffffff;
}

#splan_pdstatus .st3.active ,
#splan_pdstatus .st4.active ,
#splan_pdstatus .active .st4,
#splan_pdstatus .st5.active ,
#splan_pdstatus .st8.active {
  stroke: #f04f24;
}

#splan_pdstatus .active .st6,
#splan_pdstatus .active .st1 {
  stroke: #f04f24;
}

#splan_pdstatus .st0.active {
  stroke: #f04f24;
}


#splan_pdstatus .st2 {
  fill: #fff;
}

#splan_pdstatus .st13 {
  fill: #d7ab17;
}

#splan_pdstatus .st3 {
  stroke-width: 3px;
}

#splan_pdstatus .st4 {
  stroke-dasharray: 2 5;
}

#splan_pdstatus .st5 {
  stroke: #d7ab17;
  stroke-dasharray: 1.99 4.99;
}

#splan_pdstatus .st10 {
  font-family: Arial-BoldMT, Arial;
  font-weight: 700;
}

#splan_pdstatus .st6 {
  stroke-dasharray: 1.97 4.93;
}

#splan_pdstatus .st11 {
  fill: #606060;
  font-size: 11px;
}

#splan_pdstatus_language_select {
    margin-top: 20px;
}

#splan_pdstatus_state_select {
    margin-top: 20px;
}

#splan_pdstatus .st8 {
  stroke-width: 5px;
}

#splan_pdstatus .st7 :not(#timeline) {
  opacity: 0;
}

#splan_pdstatus  .st7.active {
  opacity: 1;
  stroke: #f04f24;
  stroke-width: 10px;
}